<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3 main">
  <br>
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Emplpyee List</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Salary</th>
          <th>Operate</th>
        </tr>
        </thead>
        <tbody>
        {% for per in person_list %}
        <tr>
          <td>{{ per.id }}</td>
          <td>{{ per.name }}</td>
          <td>{{ per.email }}</td>
          <td>{{ per.salary }}</td>
          <td><a class="btn btn-danger delete"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp;Del </a> </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No records!</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
<script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
<script>
  $(".delete").on("click", function() {
    var $row = $(this).parent().parent();
    var Id = $row.children().eq(0).text();
    swal(
      "Are you sure to delete?"
      )
    .then((willDelete) => {

        swal(`You typed: ${willDelete}`);

    });
  })
</script>
</body>
</html>