{% extends 'test_orm/base.html' %}
{% block page_content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">部门列表：</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 pull-right" style="margin-bottom:15px">
        <div><a href="/test_orm/add_dep/" class="btn btn-primary pull-right"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp;增加记录</a></div>
      </div>
    </div>
    <table class="table table-bordered table-condensed table-striped table-hover">
      <thead>
      <tr>
        <th>部门名称</th>
        <th>备注说明</th>
        <th colspan="2">操作</th>
      </tr>
      </thead>
      <tbody>
      {% for dep in dep_list %}
      <tr>
        <td>{{ dep.dep_name }}</td>
        <td>{{ dep.dep_script }}</td>
        <td><a href="/del_dep/{{ dep.id }}/" class="btn btn-danger"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp;删除</a></td>
        <td><a href="/edit_dep/{{ dep.id }}/" class="btn btn-danger"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp;修改</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">无相关记录</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block depcls %}
active
{% endblock %}