<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:property-placeholder location="classpath:com/smart/placeholder//jdbc.properties" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close"
        p:dirverClassName="${driverClassName}"
        p:url="${url}"
        p:username="${userName}"
        p:password="${password}" />

    <!-- 通过 initFromDB 方法从数据源中获取配置属性值 -->
    <bean id="sysCoinfig" class="com.smart.beanprop.SysConfig"
          init-method="initFromDB"
          p:dataSource-ref="dataSource" />

    <!-- 引用Bean的属性值 -->
    <bean class="com.smart.beanprop.ApplicationManager"
          p:maxTabPageNum="#{sysConfig.maxTabPageNum}"
          p:sessionTimeout="#{sysConfig.sessionTimeout}" />
</beans>