<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.sprintframework.org/schema/spring-util-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/spring-context-4.0.xsd">
    <bean id="systemPropertyBean" class="com.smart.spel.SystemPropertyBean"
          p:osName="#{systemProperties['os.name']}"
          p:javaHome="#{systemProperties['java.home']}"
          p:classPath="#{systemProperties['java.class.path']}"
          p:javaVersion="#{systemProperties['java.class.path']}" />
    <bean id="numberGuess" class="org.spring.samples.NumberGuess"
          p:randomNumber="#{T(java.lang.Math).random()*100.0}" />
    <bean id="shapeGuess" class="org.spring.samples.ShapeGuess"
          p:initialShapeSeed="'#{numberGuess.randomNumber}" />
    <util:properties id="properties" location="classpath:jdbc.properties" />
</beans>