{% extends "blogs/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>All posts</h1>
    </div>
{% endblock header %}

{% block content %}

    <p>
        <a href="{% url 'blogs:new_blog' %}">new post</a>
    </p>

    {% for post in posts %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                {{ post.title }}
                <small>
                    <a href="{% url 'blogs:edit_post' post.id %}">edit</a>
                </small>
            </h3>
        </div>
        <div class="panel-body">
            {{ post.text|linebreaks }}
        </div>
    </div>
    {% empty %}
    <p>There are not post yet.</p>
    {% endfor %}

{% endblock content %}
