<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.smart.orm.domain.Forum" alias="Forum" />
        <typeAlias type="com.smart.orm.domain.Topic" alias="Topic" />
        <typeAlias type="com.smart.orm.domain.Post" alias="Post" />
    </typeAliases>
</configuration>